#about{
    padding: 5rem 8rem;
}
.contentAbout{
    display: flex;   
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.titleAbout{
    font-size: 2rem;
    background-color:  rgba(255, 255, 255, 0.178);
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0rem 2rem;
    width: 50rem;
}
.infos img{
    width: 20rem; 
    border-radius: 1rem;
}
.descricaoAbout{
    margin-top: 2rem;
}
.aboutMe{
    font-size: 1.2rem;
    line-height: 2rem;
}


.cDownload {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 5rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.178);
    border: none;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    border-radius: 2rem;
    
}
.cDownload:hover{
    background-color: rgba(255, 255, 255, 0.637)
} 

.infos{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.email ion-icon, .number ion-icon{
    font-size: 1.5rem;
}
.emailNumber{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
}
.emailNumber a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
   color: white;
   transition: 0.5s;
}
.emailNumber a:hover{
    color: rgba(255, 255, 255, 0.349);
 }

















/* .part1 p{
    line-height: 2rem;
    font-size: 1.2rem;
}
.part1{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.part2{
    display: flex;
    gap: 1rem;
    
}
.linguagens{
    display: flex;
    flex-direction: column;
    gap: 2rem
}
.part2 i{
    font-size: 2.5rem;
}
.linguagem{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.lingBar{
    border-color: white;
    height: 1.5rem;
    width: 8rem;
    display: flex;
    align-items: center;
}
.nivel{   
    margin-left: 0.1rem;
    height: 1rem;
    background-color: rgb(150, 150, 150);
}
.htmlNivel{
    width: 7rem;
    animation: upBar 1s linear;
}
.cssNivel{
    width: 7rem;
    animation: upBar 1s;
}
.jsNivel{
    width: 7rem;
    animation: upBar 1s;
}
.javaNivel{
    width: 6.5rem;
    animation: upBar 1s;
}
.cNivel{
    width: 6.5rem;
    animation: upBar 1s;
}
.cppNivel{
    width: 6.5rem;
    animation: upBar 1s;
}
.springNivel{
    width: 6rem;
    animation: upBar 1s;
}
.pythonNivel{
    width: 5rem;
    animation: upBar 1s;
} */

@keyframes upBar{
    0%{
        width: 0rem;
    }
}
