#contact{
    padding: 4rem;
    display: flex;
    justify-content: center;
}
.contentContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.titleContact{
    padding: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.178);
    font-size: 2rem;
    border-radius: 1rem;
    width: 41rem;
}
.contentContact form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#name, #email{
    color: black;
    height: 3rem;
    width: 20rem;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(194, 194, 194);
    border: none;
    border-radius: 0.5rem;
}
.infoMessage{
    display: flex;
    gap: 1rem;
}
#textMessage{
    color: black;
    font-size: 1rem;
    height: 15rem;
 
    background-color: rgb(194, 194, 194);
    border: none;
    border-radius: 0.5rem;
    resize: none;
    padding: 1rem;
}
#textMessage::placeholder{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
#textMessage::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(--backgroundColor);
    
}
#textMessage::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.589); 
}

.buttonForm{
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
    transition: 0.5s;
    font-size: 1.4rem;
}
.buttonForm:hover{
    animation: animationButton 1s infinite;
    cursor: pointer;
}
.buttonVoice{
    position: relative;
    left: 39rem;
    top: -17rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.buttonVoice:hover{
    color: red;
}
@keyframes animationButton{
    0%, 100%{
        background-color: rgba(255, 255, 255, 0.178);
    }
    50%{
        background-color: rgba(255, 255, 255, 0.753);
    }
}