header{
    position: fixed;
    width: 100vw;
    top: 0;
    transition: 0.5s;
    z-index: 10;
}
.contentHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}
.activeHeader{
    border-bottom: 1px solid white;
    background-color: var(--backgroundColor);
}
.logo h1{
    cursor: pointer;
}
.logo h1::before{
    content: "<";
}
.logo h1::after{
    content: ">"
}
.menuResp ion-icon{
    display: none;
}
.mainMenu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.mainMenu{
    display: flex;
    gap: 3rem;
}

.language button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.281); */
}
.menuLanguage{
    display: none;
}
.active .menuLanguage{
    width: 7rem;
    height: 10rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 4rem;
    right: 2rem;
    
}

.menuLanguage p{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menuLanguage p:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.281);
}

#chevron-up-circle-outline{
    display: none;
}

.active #chevron-up-circle-outline2{
    display: none;
}
.active #chevron-up-circle-outline{
    display: block;
}

.menuRespActive .menu2{
    top: 0;
}
.menu2{
    width: 100vw;
    background-color: var(--backgroundColor);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    top: -100rem;;
    height: 100%;
    z-index: 100;
    transition: 0.5s;
}
.menu2 a{
    text-decoration: none;
    color: white;
}

/*Media feita para responsividade de celulares*/
@media screen and (max-width: 892px){
    #home video{
        height: 100rem;
    }
    .mainMenu{
        display: none;
    }
    .language{
        display: none;
    }
    .menuResp ion-icon{
        display: block;
    }
    .buttonsHome{
        flex-direction: column;
    
    }
    .infoAbout{
        flex-direction: column;
    }
    #about{
        padding: 5rem;
        height: 200vh;
    }
    .apresentation{
        text-align: center;
    }
    .part2{
        margin-top: 2rem;
    }
    .projects{
        flex-direction: column;
    }
    
}
/*Media feita para dimensão entre a de celular e a de computador*/
@media screen and (min-width: 893px) and (max-width: 1226px){
    #home video{
        height: 100vh;
        width: auto;
    }
    .infoAbout{
        margin-left: 4rem;
    }
    .titleAbout{
        text-align: center;
    }
}

/*Fiz esse media para que quando a página for aberta em compuatdor ela fique em tamnho fixo mas sem definir isso diretamente na classe*/
@media screen and (min-width: 1226px){
    #home video{
        width: 100vw;
    }
    #about, #projects{
        text-align: center; 
        padding: 2rem;
        
    }
    .infoAbout{
        justify-content: center;
        gap: 5rem;
    }
    .part2{
        margin-top: 8rem;
    }
    .projects{
        padding: 5rem;
    }
}