header{
    position: fixed;
    width: 100vw;
    top: 0;
    transition: 0.5s;
    z-index: 10;
}
.contentHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}
.activeHeader{
    border-bottom: 1px solid white;
    background-color: var(--backgroundColor);
}
.logo h1{
    cursor: pointer;
}
.menuResp ion-icon{
    display: none;
}
.mainMenu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.mainMenu{
    display: flex;
    gap: 3rem;
}

.language button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.281); */
}
.menuLanguage{
    display: none;
}
.active .menuLanguage{
    width: 7rem;
    height: 10rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 4rem;
    right: 2rem;
    
}
.menuLanguage p{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menuLanguage p:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.281);
}

#chevron-up-circle-outline{
    display: none;
}

.active #chevron-up-circle-outline2{
    display: none;
}
.active #chevron-up-circle-outline{
    display: block;
}


@media screen and (max-width: 892px){
    .mainMenu{
        display: none;
    }
    .language{
        display: none;
    }
    .menuResp ion-icon{
        display: block;
    }

    
}