#home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#home video{
    filter:brightness(50%);
}
.contentHome{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contentHome h1{
    font-size: 3rem;
}
.contentHome h2{
    font-size: 2rem;
}
.apresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
}
#writer::after{
    content: "|";
    animation: writerAnimation 0.5s infinite;
}
.buttonsHome{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
}
.button{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.4rem 4rem;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, 0.178);
    display: flex;
    align-items: center;
    
    gap: 0.5rem;
    font-size: 1.2rem;
    transition: 0.5s;
}
#white{
    display: none;
}
.githubButton:hover #white, .linkedinButton:hover #white{
    display: block;
}
.githubButton:hover  #black, .linkedinButton:hover  #black{
    display: none;
}
.linkedinButton:hover{
    background-color: rgb(9, 110, 241);
    letter-spacing: 0.2rem;
}
.githubButton:hover{
    background-color: rgb(49, 49, 49);
    letter-spacing: 0.2rem;
}




@keyframes writerAnimation{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 100;
    }
}