#home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#home video{
    filter:brightness(50%);
}
.contentHome{
    position: absolute;
    display: flex;
    align-items: center;
}
.contentHome h1{
    font-size: 3rem;
}
.contentHome h2{
    font-size: 2rem;
}
