@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --backgroundColor: #15202B;
}

body, html{
    scroll-behavior: smooth;
    font-family: 'Seculor One', sans-serif;

}

.contentMain{
    background-color: var(--backgroundColor);
    color: white;
}
section{  
    height: 100vh;
    border-top: 1px solid black;
}

body::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(--backgroundColor);
    
}
body::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.192); 
}


