/*Media feita para responsividade de celulares*/
@media screen and (max-width: 892px){
    #home video{
        height: 100rem;
    }
    .mainMenu{
        display: none;
    }
    .menuResp ion-icon{
        display: block;
    }
    .buttonsHome{
        flex-direction: column;
    
    }
    .language{
        display: none;
    }
    .contentAbout{
        flex-direction: column;
        
    }
    .titleAbout{
        width: 20rem;
    }
    .aboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    #about{
        padding: 5rem;
    }
    .apresentation{
        text-align: center;
    }
  
    .projects{
        flex-direction: column;
    }
    .moreProjectsButton{
        display: none;
    }
    .contentProjects{
        gap: 2rem;
    }
}

/*Fiz esse media para que quando a página for aberta em compuatdor ela fique em tamnho fixo mas sem definir isso diretamente na classe*/
@media screen and (min-width: 1226px){
    #home video{
        width: 100vw;
    }
    #projects{
        text-align: center; 
        padding: 2rem;
        
    }
    .projects{
        padding: 6rem;
    }
  
}
/*Media feita para dimensão entre a de celular e a de computador*/
@media screen and (min-width: 893px) and (max-width: 1226px){
    #home video{
        height: 100vh;
        width: auto;
    }
    #about{
        height: 120vh;
    }
    .projects{
        flex-direction: column;
    }
    .moreProjectsButton{
        display: none;
    }
    .contentProjects{
        gap: 2rem;
    }
    .titleAbout{
        width: 30rem;
    }
  
}

